.email{
   font-size: 16px;
}
.senha{
   font-size: 16px;
}
.informacoes{
   font-size: 16px;
}
.painel_1{
   border= 3px solid rgb(39, 39, 17);  
}

.painel_2{
   border= 3px solid rgb(39, 39, 17); 
}

.lista_1{
   border= 3px solid rgb(39, 39, 17);        
}
